<div class="top-container">

  <h1 class="main-header">MONSTER</h1>

  <div class="trait-box">
    <h3 class="secondary-header">Name</h3>
    <div class="button-container">
      <input type="text" name="name" value="">
    </div>
    <h3 class="secondary-header">Head</h3>
    <div class="button-container">
      <button {{action 'addHeadShape' 'square'}}>Square</button>
      <button {{action 'addHeadShape' 'circle'}}>Circle</button>
      <button {{action 'addHeadShape' 'triangle'}}>Triangle</button>
    </div>
    <h3 class="secondary-header">Torso</h3>
    <div class="button-container">
      <button>Square</button>
      <button>Circle</button>
      <button>Triangle</button>
    </div>
    <h3 class="secondary-header">Left Arm</h3>
    <div class="button-container">
      <button>Square</button>
      <button>Circle</button>
      <button>Triangle</button>
    </div>
    <h3 class="secondary-header">Right Arm</h3>
    <div class="button-container">
      <button>Square</button>
      <button>Circle</button>
      <button>Triangle</button>
    </div>
    <h3 class="secondary-header">Legs</h3>
    <div class="button-container">
      <button>Square</button>
      <button>Circle</button>
      <button>Triangle</button>
    </div>
  </div>

</div>
