*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  color: $black;
  font-family: sans-serif;
  background: $white;
}

a{
  text-decoration: none;
  color: $grey;
  &:hover{
    color:$light-grey;
  }
}

button{
  border: none;
  color: $white;
  padding: 10px;
  &:focus{
    outline: none;
  }
}
