*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  color: $black;
  font-family: 'Open Sans', sans-serif;
  background: $white;
}

body::-webkit-scrollbar {
    display: none;
}

a{
  text-decoration: none;
  color: $grey;
  transition: all 250ms;
  margin: 20px;
  &:hover{
    color:$light-grey;
  }
}

p{
  font-size: 0.8em;
  margin: 5px;
}

form{
  width: 100%;
}
