.main-button{
  height:50px;
  width: 350px;
  color: #696969;
  font-size: $secondary-header;
  font-family: 'Raleway', sans-serif;
  transition: all 250ms;
  border: none;
  padding: 10px;
  background: #DDDDDD;
  &:hover{
    background: #EBEBEB;
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

.half{
  width: 175px;
}

.gallery-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
