.main-button{
  width: 350px;
  height:50px;

  color: #696969;
  margin-bottom: 20px;
  font-size: $secondary-header;
  font-family: 'Raleway', sans-serif;
  transition: all 250ms;
  &:hover{
    background: #EBEBEB;
  }
}
