.main-header{
  font-size: $main-header;
  letter-spacing: $letter-spacing;
}

.secondary-header{
  font-size: $secondary-header;
  letter-spacing: $letter-spacing;
  margin: 5px;
}

.text-header{
  font-size: $text-header;
  letter-spacing: $letter-spacing;
}
