.title-header{
  text-align: center;
  margin-bottom: 20px;
}

.main-header{
  font-family: 'Raleway', sans-serif;
  font-size: $main-header;
  letter-spacing: $letter-spacing;
}

.secondary-header{
  font-family: 'Raleway', sans-serif;
  font-size: $secondary-header;
  letter-spacing: $letter-spacing;
  width: 200px;
}

.text-header{
  font-size: $text-header;
  letter-spacing: $letter-spacing;
}
