.title-header{
  text-align: center;
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
}

.main-header{
  font-size: $main-header;
  letter-spacing: $letter-spacing;
}

.secondary-header{
  font-family: 'Raleway', sans-serif;
  font-size: $secondary-header;
  letter-spacing: $letter-spacing;
  width: 200px;
  margin: 0 0 3px 10px;
}

.text-header{
  font-size: $text-header;
  letter-spacing: $letter-spacing;
}

.name-header{
  text-align: center;;
  padding: 25px;
  font-size: 2em;
}
