.head{
  position: absolute;
  top: 70px;
  left: 150px;
  width: 100px;
  z-index: 3;
  animation: bobbinHead 1.5s ease-in-out infinite;
}
.torso{
  position: absolute;
  width: 150px;
  top: 90px;
  left: 80px;
  z-index: 2;
  animation: bobbinTorso 1.5s ease-in-out infinite;
}
.left-arm{
  position: absolute;
  top: 140px;
  right: 50px;
  width: 120px;
  z-index: 1;
  animation: bobbinLeftArm 1.5s ease-in-out infinite;
}
.right-arm{
  position: absolute;
  top: 55px;
  left: 30px;
  width: 150px;
  z-index: 4;
  animation: bobbinRightArm 1.5s ease-in-out infinite;
}
.left-leg{
  position: absolute;
  top: 200px;
  right: 150px;
  width: 60px;
  z-index: 1;
  // animation: bobbinLeftLeg 1.5s ease-in-out infinite;
}
.right-leg{
  position: absolute;
  top: 190px;
  left: 75px;
  width: 80px;
  z-index: 4;
  // animation: bobbinRightLeg 1.5s ease-in-out infinite;
}

@keyframes bobbinHead{
  0%{
    left: 150px;
  }
  50%{
    left: 153px;
  }
  100%{
    left: 150px;
  }
}

@keyframes bobbinTorso{
  0%{
    top: 90px;
  }
  50%{
    top: 95px;
  }
  100%{
    top:90px;
  }
}


@keyframes bobbinLeftArm{
  0%{
    top: 140px;
  }
  75%{
    top: 144px;;
  }
  100%{
    top: 140px;;
  }
}

@keyframes bobbinRightArm{
  0%{
    top: 55px;
  }
  75%{
    top: 59px;;
  }
  100%{
    top: 55px;;
  }
}

@keyframes bobbinLeftLeg{
  0%{
    top: 235px;
  }
  75%{
    top: 239px;;
  }
  100%{
    top: 235px;;
  }
}

@keyframes bobbinRightLeg{
  0%{
    top: 235px;
  }
  75%{
    top: 239px;;
  }
  100%{
    top: 235px;;
  }
}
