.head{
  width: 100px;
  animation: bobbinHead 1.5s ease-in-out infinite;
}
.torso{
  width: 200px;
  animation: bobbinTorso 1.5s ease-in-out infinite;
}
.left-arm{
  position: absolute;
  width: 160px;
  right: -25px;
  animation: bobbinArms 1.5s ease-in-out infinite;
}
.right-arm{
  position: absolute;
  width: 160px;
  left: -25px;
  animation: bobbinArms 1.5s ease-in-out infinite;
}
.legs{
  width: 200px;
  animation: bobbinLegs 1.5s ease-in-out infinite;
}

@keyframes bobbinTorso{
  0%{
    top: 225px;
  }
  50%{
    top: 230px;
  }
  100%{
    top:225px;
  }
}

@keyframes bobbinHead{
  0%{
    left: 623px;
  }
  50%{
    left: 626px;
  }
  100%{
    left: 623px;
  }
}

// @keyframes bobbinArms{
//   0%{
//     top: 235px;
//   }
//   75%{
//     top: 239px;;
//   }
//   100%{
//     top: 235px;;
//   }
// }

@keyframes bobbinLegs{
  0%{
    top: 530px;
  }
  50%{
    top: 535px;
  }
  100%{
    top: 530px;
  }
}
