.head{
  position: absolute;
  top: 70px;
  left: 150px;
  width: 100px;
  z-index: 3;
  animation: bobbinHead 2s ease-in-out infinite;
}
.torso{
  position: absolute;
  width: 150px;
  top: 90px;
  left: 80px;
  z-index: 2;
  animation: bobbinTorso 2s ease-in-out infinite;
}
.left-arm{
  position: absolute;
  top: 140px;
  right: 50px;
  width: 120px;
  z-index: 1;
  animation: bobbinLeftArm 2s ease-in-out infinite;
}
.right-arm{
  position: absolute;
  top: 55px;
  left: 30px;
  width: 150px;
  z-index: 4;
  animation: bobbinRightArm 2s ease-in-out infinite;
}
.left-leg{
  position: absolute;
  top: 200px;
  right: 150px;
  width: 60px;
  z-index: 1;
  // animation: bobbinLeftLeg 2s ease-in-out infinite;
}
.right-leg{
  position: absolute;
  top: 190px;
  left: 75px;
  width: 80px;
  z-index: 4;
  // animation: bobbinRightLeg 2s ease-in-out infinite;
}

.shadow{
  position: absolute;
  top: 270px;
  left: 30px;
  height: 55px;
  width: 250px;
  background-color: $light-grey;
  z-index: 0;
  border-radius: 50%;
}
