//Color Variables

$white: #f4f4f4;
$grey: #707070;
$black: #0c0c0c;
$light-grey: #c9c9c9;
$valhalla: #2c1758;
$viridian: #47988a;

//Color Descriptor Variables

$logo-color: $white;
$text-color: $black;
$text-color-secondary: $grey;
$footer-color: $light-grey;

//Fonts

//Font Sizing

$main-header: 3em;
$secondary-header: 1.8em;
$text-header: 1.5em;

//Borders

//Spacers

$container-margin: auto;
$container-small-width: 85%;
$container-medium-width: 80%;
$container-max-width: 500px;
$content-max-width: 500px;

//text adjustments
$line-h: 20px;
$letter-spacing: 1px;

//Ember Power Select
$ember-power-select-text-color: white;
$ember-power-select-background-color: #212121 !default;
