<div class="main-container">
  {{liquid-outlet}}
  <footer>
    <div class="footer">
      <a class="icons" href="https://github.com/Rilsta/Monster-Creator"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <p>
        The MIT Licence
      </p>
      <p>
        Behemoth Builder &copy; Riley Starnes 2016
      </p>
    </div>
  </footer>
</div>
