<div class="main-container">
  <div class="title-header">
    <h1 class="main-header">BEHEMOTH</h1>
    <h3 class="text-header">builder</h3>
    <hr>
    {{#link-to 'index'}}
    home
    {{/link-to}}
    {{#link-to 'monster-gallery'}}
    gallery
    {{/link-to}}
  </div>
  {{liquid-outlet}}
  <footer>
    <div class="footer">
      <a class="icons" href="https://github.com/Rilsta/Monster-Creator"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <p>
        The MIT Licence
      </p>
      <p>
        Behemoth Builder &copy; Riley Starnes 2016
      </p>
    </div>
  </footer>
</div>
