<div class="title-header">
  <h1 class="main-header">BEHEMOTH</h1>
  <h3 class="text-header">builder</h3>
  {{#link-to 'monster-gallery'}}
  Gallery
  {{/link-to}}
</div>
<div class="top-container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
{{monster-new heads=model.heads
              torsos=model.torsos
              leftArms=model.leftArms
              rightArms=model.rightArms
              leftLegs=model.leftLegs
              rightLegs=model.rightLegs
              save="save"}}
