<div class="top-container">

  <h1 class="main-header">MONSTER</h1>

  <div class="trait-box">
    <h3 class="text-header">Torso</h3>
    <div class="button-container">
      <button {{action 'monsterParts' monster}}>Square</button>
    </div>
  </div>

</div>
<!-- <img src="/torso-square.svg" alt="" /> -->

{{#each model as |monster|}}
  {{monster-tile monster=monster}}
{{/each}}
