<div class="top-container">

  <h1 class="main-header">MONSTER</h1>

  <div class="trait-box">
    <h3 class="text-header">Test Text Header</h3>
    <div class="button-container">

      <button class="button-one" type="button" name="button">Test Button1</button>
    </div>
  </div>

</div>
<!-- <img src="/torso-square.svg" alt="" /> -->

{{#each model as |monster|}}
  {{monster-tile monster=monster}}
{{/each}}
