<div class="title-header">
  <h1 class="main-header">BEHEMOTH</h1>
  <h3 class="text-header">builder</h3>
</div>
{{#link-to 'monster-gallery'}}
Gallery
{{/link-to}}
{{monster-new heads=model.heads
              torsos=model.torsos
              leftArms=model.leftArms
              rightArms=model.rightArms
              leftLegs=model.leftLegs
              rightLegs=model.rightLegs
              save="save"}}
